header {
  display: flex;
  background-color: var(--background-tertiary-color);
  align-items: flex-start;
  justify-content: space-between;
  padding: 38px 48px;
}

.logo-header {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.menu-hamburger {
  margin-top: 24px;
}

nav {
  display: none;
}


